<section>
	<div class='container'>
		<h1 class='text-center'>Our Story</h1>
		<br/><br/><br/>

		<p>I wanted a tasty snack, which would last a long time. I yearned to devour an entire bag, yet not feel guilty at the end. To my dismay, I was unable to find anything and so I decided to create my own. I wanted something full of flavour, crunchy and healthy to eat. </p>
		<br/>
		<p>I chose chickpeas as my base and then discovered by using 100% natural ingredients and a unique "flavour-sequencing" process I could lock in flavours so they flourish on the palate. I took this further and created a range of exciting flavours, including Mediterranean, Spicy and Lightly Salted!</p>
		<br/>
		<p>I took my snacks to a food show in 2010 where we sold out on the first day. Shortly after we achieved our first prestigious retail listing and…</p>
		<br/>
		<h2 class='text-center'>... Snack Pop's was born.</h2>
	</div>
</section>